a:hover {
    text-decoration: none;
}

#hitters td, #pitchers td {
    text-align: center;
}

.article {
    font-size: 1.25em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
